---
import LayoutDoors from "../../layouts/LayoutDoors.astro";

import Carousel from "../../components/Carousel.astro";
import Item from "../../components/Item.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";

const items = [
  {
    imgUrl: "/assets/magneticas/mm-1.png",
    altData: "chapa magnetica",
  },
  {
    imgUrl: "/assets/magneticas/mm-2.png",
    altData: "chapa magnetica",
  },
  {
    imgUrl: "/assets/magneticas/mm-3.png",
    altData: "chapa magnetica",
  },
  {
    imgUrl: "/assets/magneticas/mm-4.png",
    altData: "chapa magnetica",
  },
];
---

<LayoutDoors
  title="SAP | Chapas magnéticas"
  doorCategory="Chapas magnéticas"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState="active"
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>

      <p>
        Las chapas magnéticas son la solución perfecta para garantizar un cierre
        efectivo sin piezas mecánicas. Pueden resistir hasta 850 kg de fuerza de
        impacto y al soltar son silenciosas. Son resistentes y efectivas, con
        una garantía de 25 años.
      </p>
    </div>

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor
        type="Puerta giratoria"
        model="Manual"
        description="1,500 M Puerta Giratoria Manual"
        url={items[0].imgUrl}
      />
      <ModelDoor
        type="Puerta giratoria"
        model="Automatica"
        description="1,500 AA Puerta Giratoria Automatica"
        url={items[1].imgUrl}
      />
      <ModelDoor
        type="Puerta giratoria"
        model="Manual"
        description="1,500 Crystal Puerta Giratoria Manual"
        url={items[2].imgUrl}
      />
    </section>
    <!-- <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/magneticas/m-1.png"
          alt="chapa magnetica"
        />
        <p class="text-white mt-2 text-center">Chapa magnetica</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/magneticas/m-2.png"
          alt="chapa magnetica"
        />
        <p class="text-white mt-2 text-center">Chapa magnetica</p>
      </div>-->
    <!-- </div>  -->
  </div>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
