---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";

import ItemModel from "../../components/ItemModel.astro";
import Carousel from "../../components/Carousel.astro";
import Item from "../../components/Item.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";

const items = [
  {
    imgUrl: "/assets/huella-digital/h-1.webp",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.webp",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.webp",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.webp",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.webp",
    altData: "huella digital",
  },
];
---

<LayoutDoors
  title="SAP | Huella digital"
  doorCategory="Huella digital"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState="active"
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>

      <p class="text-xl">
        Las lectoras de huella digital se han vuelto el sistema más común para
        identificar al usuario de forma económica y segura. Son rápidas y poco
        invasivas, y se pueden interconectar con muchos sistemas de acceso o
        como sistema stand alone.
      </p>
    </div>

    <!-- <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor 
        type="Puerta giratoria"
        model="Manual"
        description="1,500 M Puerta Giratoria Manual"
        url={items[0].imgUrl}
      />
      <ModelDoor 
        type="Puerta giratoria"
        model="Automatica"
        description="1,500 AA Puerta Giratoria Automatica"
        url={items[1].imgUrl}
      />
      <ModelDoor 
        type="Puerta giratoria"
        model="Manual"
        description="1,500 Crystal Puerta Giratoria Manual"
        url= {items[2].imgUrl}
      />
    </section> -->
    <!-- <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/huella-digital/h-2.png"
          alt="lector huella digital"
        />
        <p class="text-white mt-2 text-center">Lector de huella digital</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/huella-digital/h-2.png"
          alt="lector huella digital"
        />
        <p class="text-white mt-2 text-center">Lector de huella digital</p>
      </div>
      
    </div> -->
  </div>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
