---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";

import ItemModel from "../../components/ItemModel.astro";
import Carousel from "../../components/Carousel.astro";
import Item from "../../components/Item.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";

const items = [
  {
    imgUrl: "/assets/corredizas/allg-1.JPG",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allg-2.jpeg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allg-3.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allg-4.png",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/c-3.png",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allge-2.JPG",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/dg-1.jpeg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/c-1.png",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/nn-1.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/nn-2.jpg",
    altData: "puerta corrediza",
  },
 
];

const modeloAllglass = [
  {
    imagen: "/assets/corredizas/allg-1.JPG",
    alternative: "puerta corrediza modelo all glass",
  },
  {
    imagen: "/assets/corredizas/allg-2.jpeg",
    alternative: "puerta corrediza modelo all glass",
  },
  {
    imagen: "/assets/corredizas/allg-3.jpg",
    alternative: "puerta corrediza modelo all glass",
  },
  {
    imagen: "/assets/corredizas/allg-4.png",
    alternative: "puerta corrediza modelo all glass",
  },
];
const modeloDuraglide = [
  {
    imagen: "/assets/corredizas/dg-1.jpeg",
    alternative: "puerta corrediza modelo dura glide",
  },
  {
    imagen: "/assets/corredizas/dg-2.jpg",
    alternative: "puerta corrediza modelo dura glide",
  },
];
const modeloAllglassEurope = [
  {
    imagen: "/assets/corredizas/allge-1.jpg",
    alternative: "puerta corrediza modelo all glass Europe",
  },
  {
    imagen: "/assets/corredizas/allge-2.JPG",
    alternative: "puerta corrediza modelo all glass Europe",
  },
];
---

<LayoutDoors
  title="SAP | Puertas corredizas"
  doorCategory="Puertas corredizas"
  giratoriaState=""
  corredizaState="active"
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 px-0 lg:px-12 mr-0 lg:mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-xl [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>

      <p>
        Son las puertas más usadas en el mundo, prácticas y reconocidas, con un
        alto ahorro de energía, máximo flujo y seguridad. Pueden ser modelos All
        Glass (con zócalos superiores e inferiores), All Glass Europe (solo
        zócalos superiores) y modelo Dura-Glide con aluminio perimetral. Pueden
        llevar abatimiento en hojas corredizas y fijos laterales, o sistema
        eléctrico para abrir en emergencia. Son flexibles y adecuadas para una
        variedad de usos, desde aeropuertos hasta residencias.
      </p>
    </div>

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6 grid gap-y-20">
      <ModelDoor
        type="Puerta Corrediza"
        model="Dura Glide"
        description="Puerta en marcada con aluminio ideal para tiendas de autoservicio."
        url={items[7].imgUrl}
      />
      <ModelDoor
        type="Puerta Corrediza"
        model="All Glass"
        description="Puerta automática de vidrio que minimiza los perfiles incluir foto de All glass."
        url={items[1].imgUrl}
      />
      <ModelDoor
        type="Puerta Corrediza"
        model="All Glass Europe"
        description="Puerta automática sin perfiles inferiores. Esta es la puerta más limpia y elegante. Ideal para instalaciones corporativas y de alto nivel."
        url={items[4].imgUrl}
      />
    </section>

    <!-- aqui inicia modelos -->
    <!-- <div class="pt-8 lg:max-w-6xl flex flex-col justify-center mx-auto">
    <div
      class="[&>h1]:text-[#ffce00] py-5 lg:py-20 flex flex-col items-center justify-center"
    >
      <h1
        class=" text-5xl 2xl:text-6xl font-[oswald] font-extrabold uppercase text-center tracking-wide"
      >
        modelos
      </h1>
      <img src="/assets/linea.png" alt="" class="w-68 h-4" />
    </div>

    <div class="grid gap-4  items-center" id="all-glass">
      <section class="flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass
          </h3>
          <p class="text-white text-lg">
            El modelo all glass trae zócalos en la parte superior e inferior
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloDuraglide.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            Dura-Glide
          </h3>
          <p class="text-white text-lg">
            El modelo Dura-Glide trae aluminio perimetral.
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglassEurope.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass europe
          </h3>
          <p class="text-white text-lg">
            El modelo all glass Europe trae solo zócalos superiores.
          </p>
        </div>
      </section>
    </div>
  </div> -->
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
      slot="script"></script>
  </div>

  <style>
    /* .swiper-slide-img {
    display: block;
    width: 100%;
  } */
    .text_border_convert-models {
      -webkit-text-stroke: 0.7px #ffce00;
      color: transparent;
    }
    .border-left-bottom {
      -webkit-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
      -moz-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
      box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    }
    .border-left-top {
      -webkit-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
      -moz-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
      box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    }
    .border-top-right {
      -webkit-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
      -moz-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
      box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    }
  </style>
</LayoutDoors>
