---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ItemModel from "../../components/ItemModel.astro";
import Carousel from "../../components/Carousel.astro";
import Item from "../../components/Item.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";

const items = [
  {
    imgUrl: "/assets/corredizas/allg-1.JPG",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allg-2.jpeg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allg-3.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allg-4.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allge-1.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/allge-2.JPG",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/dg-1.jpeg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/dg-2.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/nn-1.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/nn-2.jpg",
    altData: "puerta corrediza",
  },
  {
    imgUrl: "/assets/corredizas/nn-3.jpg",
    altData: "puerta corrediza",
  },
];

const modeloAllglass = [
  {
    imagen: "/assets/corredizas/allg-1.JPG",
    alternative: "puerta corrediza modelo all glass",
  },
  {
    imagen: "/assets/corredizas/allg-2.jpeg",
    alternative: "puerta corrediza modelo all glass",
  },
  {
    imagen: "/assets/corredizas/allg-3.jpg",
    alternative: "puerta corrediza modelo all glass",
  },
  {
    imagen: "/assets/corredizas/allg-4.jpg",
    alternative: "puerta corrediza modelo all glass",
  },
];
const modeloDuraglide = [
  {
    imagen: "/assets/corredizas/dg-1.jpeg",
    alternative: "puerta corrediza modelo dura glide",
  },
  {
    imagen: "/assets/corredizas/dg-2.jpg",
    alternative: "puerta corrediza modelo dura glide",
  },
];
const modeloAllglassEurope = [
  {
    imagen: "/assets/corredizas/allge-1.jpg",
    alternative: "puerta corrediza modelo all glass Europe",
  },
  {
    imagen: "/assets/corredizas/allge-2.JPG",
    alternative: "puerta corrediza modelo all glass Europe",
  },
];
---

<LayoutDoors
  title="SAP | Puertas corredizas"
  doorCategory="Puertas corredizas" 
  giratoriaState=""
  corredizaState="active"
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="mb-20 px-0 lg:px-12 mr-0 lg:mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item
              src={item.imgUrl}
              alt={item.altData}
              slot="item-swiper"
            />
          ))
        }
      </Carousel>
      
      <p>
        Son las puertas más usadas en el mundo, prácticas y reconocidas, con un
        alto ahorro de energía, máximo flujo y seguridad. Pueden ser modelos All
        Glass (con zócalos superiores e inferiores), All Glass Europe (solo
        zócalos superiores) y modelo Dura-Glide con aluminio perimetral. Pueden
        llevar abatimiento en hojas corredizas y fijos laterales, o sistema
        eléctrico para abrir en emergencia. Son flexibles y adecuadas para una
        variedad de usos, desde aeropuertos hasta residencias.
      </p>

    </div>

    <div
      class="flex flex-col gap-10 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out justify-evenly"
    >
      <div class="lg:w-56">
       <img
            src="/assets/corredizas/allg-3.jpg"
            alt="puerta corrediza all glass"
          />
        
        <p class="text-white mt-2 text-center">Puerta corrediza All Glass</p>
      </div>
      <div class="lg:w-56">
        <img
          src="/assets/corredizas/dg-2.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">Puerta corrediza Dura-Glade</p>
      </div>
      <div class="lg:w-56">
        <img
          src="/assets/corredizas/allge-2.JPG"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          Puerta corrediza All Glass Europe
        </p>
      </div>
    </div>
  </div>
  
  <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
    <ModelDoor 
      type="Puerta giratoria"
      model="Manual"
      description="1,500 M Puerta Giratoria Manual"
      url={items[0].imgUrl}
    />
    <ModelDoor 
      type="Puerta giratoria"
      model="Automatica"
      description="1,500 AA Puerta Giratoria Automatica"
      url={items[1].imgUrl}
    />
    <ModelDoor 
      type="Puerta giratoria"
      model="Manual"
      description="1,500 Crystal Puerta Giratoria Manual"
      url= {items[2].imgUrl}
    />
  </section>
  
  <!-- aqui inicia modelos -->
  <!-- <div class="pt-8 lg:max-w-6xl flex flex-col justify-center mx-auto">
    <div
      class="[&>h1]:text-[#ffce00] py-5 lg:py-20 flex flex-col items-center justify-center"
    >
      <h1
        class=" text-5xl 2xl:text-6xl font-[oswald] font-extrabold uppercase text-center tracking-wide"
      >
        modelos
      </h1>
      <img src="/assets/linea.png" alt="" class="w-68 h-4" />
    </div>

    <div class="grid gap-4  items-center" id="all-glass">
      <section class="flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass
          </h3>
          <p class="text-white text-lg">
            El modelo all glass trae zócalos en la parte superior e inferior
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloDuraglide.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            Dura-Glide
          </h3>
          <p class="text-white text-lg">
            El modelo Dura-Glide trae aluminio perimetral.
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglassEurope.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass europe
          </h3>
          <p class="text-white text-lg">
            El modelo all glass Europe trae solo zócalos superiores.
          </p>
        </div>
      </section>
    </div>
  </div> -->
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>


<style>

  /* .swiper-slide-img {
    display: block;
    width: 100%;
  } */
  .text_border_convert-models {
    -webkit-text-stroke: 0.7px #ffce00;
    color: transparent;
  }
  .border-left-bottom {
    -webkit-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-left-top {
    -webkit-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-top-right {
    -webkit-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
</style>
