---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";

import ItemModel from "../../components/ItemModel.astro";
import Carousel from "../../components/Carousel.astro";
import Item from "../../components/Item.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";

const items = [
  {
    imgUrl: "/assets/batientes/b-1.jpg",
    altData: "puerta batiente",
  },
  {
    imgUrl: "/assets/batientes/b-2.jpg",
    altData: "puerta batiente",
  },
];

// const modeloAllglass = [
//   {
//     imagen: "/assets/puertas-corredizas/all-glass-europe.JPG",
//     alternative: "puerta corrediza modelo all glass europe",
//   },
//   {
//     imagen: "/assets/puertas-corredizas/all-glass.jpeg",
//     alternative: "puerta corrediza modelo all glass",
//   },
//   {
//     imagen: "/assets/puertas-corredizas/all-glass-two.jpg",
//     alternative: "puerta corrediza modelo all glass europe",
//   },
// ];
---

<LayoutDoors
  title="SAP | Puertas batientes"
  doorCategory="Puertas batientes"
  giratoriaState=""
  corredizaState=""
  batienteState="active"
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 px-0 lg:px-12 mr-0 lg:mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>
      <p>
        Las puertas batientes son ideales para espacios reducidos o como
        laterales de puertas giratorias en hoteles y hospitales. Se utilizan
        preferentemente con acceso en una sola dirección y se usan mucho en
        pasillos de hospitales y entradas de corporativos, así como en la
        industria farmacéutica. Pueden ser con marco perimetral de aluminio o
        modelo All Glass. Pueden llevar accesorios como chapas magnéticas,
        sensores y botones. Pueden tener acabados anodizados, pinturas
        electrostáticas y recub.
      </p>
    </div>
    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor
      type="Puerta Batiente"
      model="Magic Force All Glass"
      description="Puerta Automatica en Vidrio"
        url={items[0].imgUrl}
      />
      <ModelDoor
        type="Puerta Batiente"
        model="Magic Force All Glass"
        description="Puerta Automatica en Vidrio"
        url={items[1].imgUrl}
      />
    </section>
  </div>

  <!-- aqui inicia modelos -->
  <!-- <div class="pt-20 max-w-6xl flex flex-col justify-center mx-auto">
    <div
      class="[&>h1]:text-[#ffce00] py-20 flex flex-col items-center justify-center"
    >
      <h1
        class="text-6xl font-[oswald] font-extrabold uppercase text-center tracking-wide"
      >
        modelos
      </h1>
      <img src="/assets/linea.png" alt="" class="w-68 h-4" />
    </div>

    <div class="grid gap-4 pt-10 items-center">
      <section class="flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass
          </h3>
          <p class="text-white text-lg">
            El modelo all glass trae zócalos en la parte superior e inferior
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            Dura-Glide
          </h3>
          <p class="text-white text-lg">
            El modelo Dura-Glide trae aluminio perimetral.
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass europe
          </h3>
          <p class="text-white text-lg">
            El modelo all glass Europe trae solo zócalos superiores.
          </p>
        </div>
      </section>
    </div>
  </div> -->
  <script
  is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
