---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ItemModel from "../../components/ItemModel.astro";

const items = [

  {
    imgUrl: "/assets/puertas-giratorias/giratoria-2.jpg",
    altData: "puerta giratoria",
  },
  {
    imgUrl: "/assets/puertas-giratorias/giratoria-3.jpg",
    altData: "puerta giratoria",
  },
  {
    imgUrl: "/assets/puertas-giratorias/giratoria-4.jpg",
    altData: "puerta giratoria",
  },

];

const modeloAllglass = [
  {
    imagen: "/assets/puertas-corredizas/all-glass-europe.JPG",
    alternative: "puerta corrediza modelo all glass europe",
  },
  {
    imagen: "/assets/puertas-corredizas/all-glass.jpeg",
    alternative: "puerta corrediza modelo all glass",
  },
  {
    imagen: "/assets/puertas-corredizas/all-glass-two.jpg",
    alternative: "puerta corrediza modelo all glass europe",
  },
];
---

<LayoutDoors
  title="SAP | Puertas corredizas"
  doorCategory="Puertas corredizas"
  BgBody="yes"
  giratoriaState=""
  corredizaState="active"
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Son las puertas más usadas en el mundo, prácticas y reconocidas, con un
        alto ahorro de energía, máximo flujo y seguridad. Pueden ser modelos All
        Glass (con zócalos superiores e inferiores), All Glass Europe (solo
        zócalos superiores) y modelo Dura-Glide con aluminio perimetral. Pueden
        llevar abatimiento en hojas corredizas y fijos laterales, o sistema
        eléctrico para abrir en emergencia. Son flexibles y adecuadas para una
        variedad de usos, desde aeropuertos hasta residencias.
      </p>
      <CarouselProducts>
        {
          items.map((item) => (
              <ItemCarousel 
                imgUrl={item.imgUrl}
                altData={item.altData}
                slot="items"/>
              
            ))
        }
      </CarouselProducts>
    </div>

    <div
      class="flex flex-col mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <a href="#all-glass"
          ><img
            src="/assets/puertas-corredizas/all-glass-two.jpg"
            alt="puerta corrediza all glass"
          /></a
        >
        <p class="text-white mt-2 text-center">Puerta corrediza All Glass</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-corredizas/dura-glade.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">Puerta corrediza Dura-Glade</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-corredizas/all-glass-europe.JPG"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          Puerta corrediza All Glass Europe
        </p>
      </div>
    </div>
  </div>

  <!-- aqui inicia modelos -->
  <div class="pt-20 max-w-6xl flex flex-col justify-center mx-auto">
    <div
      class="[&>h1]:text-[#ffce00] py-20 flex flex-col items-center justify-center"
    >
      <h1
        class="text-6xl font-[oswald] font-extrabold uppercase text-center tracking-wide"
      >
        modelos
      </h1>
      <img src="/assets/linea.png" alt="" class="w-68 h-4" />
    </div>

    <div class="grid gap-4 pt-10 items-center">
      <section class="flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass
          </h3>
          <p class="text-white text-lg">
            El modelo all glass trae zócalos en la parte superior e inferior
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2 "
          >
          Dura-Glide
          </h3>
          <p class="text-white text-lg ">
            El modelo Dura-Glide trae aluminio perimetral.
          </p>
        </div>
      </section>
      <section class="mt-10 flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2 "
          >
          all glass europe
          </h3>
          <p class="text-white text-lg ">
            El modelo all glass Europe trae solo zócalos superiores.
          </p>
        </div>
      </section>
      
      
      
    </div>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
<script>
  var swiper = new Swiper(".mySwiper", {
    grabCursor: true,
    effect: "creative",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: [0, 0, -400],
      },
      next: {
        translate: ["100%", 0, 0],
      },
    },
    loop: true,

    speed: 700,
  });
</script>

<style>
  .swiper {
    width: 550px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 350px;
    border-radius: 8px;
  }
  /* .swiper-slide-img {
    display: block;
    width: 100%;
  } */
  .text_border_convert-models {
    -webkit-text-stroke: 0.7px #ffce00;
    color: transparent;
  }
  .border-left-bottom {
    -webkit-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-left-top {
    -webkit-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-top-right {
    -webkit-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
</style>
