---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";

import ItemModel from "../../components/ItemModel.astro";
import Carousel from "../../components/Carousel.astro";
import Item from "../../components/Item.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";

const items = [
  {
    imgUrl: "/assets/telescopicas/dg-1.png",
    altData: "puerta telescopica"
  },
  {
    imgUrl: "/assets/telescopicas/dg-3.png",
    altData: "puerta telescopica"
  },
  {
    imgUrl: "/assets/telescopicas/dg-4.png",
    altData: "puerta telescopica"
  },
  {
    imgUrl: "/assets/telescopicas/dg-5.png",
    altData: "puerta telescopica"
  },
];

---

<LayoutDoors
  title="SAP | Puertas telescópicas"
  doorCategory="Puertas telescópicas"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState="active"
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 px-0 lg:px-12 mr-0 lg:mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-xl [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>

      <p>
        Estas puertas son ideales para dar mayor apertura en el espacio que se
        requiere de una puerta automática, ya que abrirán el 60% del claro
        total, en comparación con una puerta corrediza normal, que abre el 47%.
        Pueden ser modelos Duraglide, así como en All Glass.
      </p>
    </div>

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor
        type="Puerta telescopica"
        model="automática"
        title="Se divide de 3 a 6 paneles."
        url={items[0].imgUrl}
      />
    </section>

    <!-- <div
      class="grid md:grid-rows-3 gap-10 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out "
    >
      <div class="lg:w-56">
        <img
          src="/assets/telescopicas/dg-4.png"
          alt="puerta telescopica duraglide"
        />
        <p class="text-white mt-2 text-center">Puerta telescopica Duraglide</p>
      </div>
      <div class="lg:w-56">
        <img
          src="/assets/telescopicas/tm-1.JPG"
          alt="puerta telescopica manual"
        />
        <p class="text-white mt-2 text-center">Puerta telescopica manual</p>
      </div>
      <div class="lg:w-56">
        <img
          src="/assets/telescopicas/tox-1.jpeg"
          alt="puerta telescopica oxxo"
        />
        <p class="text-white mt-2 text-center">
          Puerta telescopica oxxo
        </p>
      </div>
    </div>
  </div> -->
    <!-- aqui inicia modelos -->
    <!-- <div class="pt-8 max-w-6xl flex flex-col justify-center mx-auto">
  <div
    class="[&>h1]:text-[#ffce00] py-5 lg:py-20 flex flex-col items-center justify-center"
  >
    <h1
      class="text-5xl 2xl:text-6xl font-[oswald] font-extrabold uppercase text-center tracking-wide"
    >
      modelos
    </h1>
    <img src="/assets/linea.png" alt="" class="w-68 h-4" />
  </div>

  <div class="grid gap-4 lg:pt-10 items-center"> -->
    <!-- <section class="flex flex-col mx-auto">
      <CarouselModel>
        {
          modeloAllglass.map((item) => (
            <ItemModel imgUrl={item.imagen} altData={item.alternative} />
          ))
        }
      </CarouselModel>
      <div class="mt-2">
        <h3
          class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
        >
          all glass
        </h3>
        <p class="text-white text-lg">
          El modelo all glass trae zócalos en la parte superior e inferior
        </p>
      </div>
    </section> -->
    <!-- <section class=" flex flex-col mx-auto">
      <CarouselModel>
        {
          modeloDuraglade.map((item) => (
            <ItemModel imgUrl={item.imagen} altData={item.alternative} />
          ))
        }
      </CarouselModel>
      <div class="mt-2">
        <h3
          class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2 "
        >
        Dura-Glide
        </h3>
        <p class="text-white text-lg ">
          El modelo Dura-Glide trae aluminio perimetral.
        </p>
      </div>
    </section> -->
    <!-- <section class="mt-10 flex flex-col mx-auto">
      <CarouselModel>
        {
          modeloAllglass.map((item) => (
            <ItemModel imgUrl={item.imagen} altData={item.alternative} />
          ))
        }
      </CarouselModel>
      <div class="mt-2">
        <h3
          class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2 "
        >
        all glass europe
        </h3>
        <p class="text-white text-lg ">
          El modelo all glass Europe trae solo zócalos superiores.
        </p>
      </div>
    </section> -->
  </div>
</LayoutDoors>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
  slot="script"></script>

<style>
  .text_border_convert-models {
    -webkit-text-stroke: 0.7px #ffce00;
    color: transparent;
  }
</style>
