---
import Carousel from "../../components/Carousel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import Item from "../../components/Item.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/teclado-digital/t-1.png",
    altData: "teclado digital",
  },
  {
    imgUrl: "/assets/teclado-digital/t-2.png",
    altData: "teclado digital",
  },
  {
    imgUrl: "/assets/teclado-digital/t-3.png",
    altData: "teclado digital",
  },
  {
    imgUrl: "/assets/teclado-digital/t-4.png",
    altData: "teclado digital",
  },
 
];


---

<LayoutDoors
  title="SAP | Teclado digital y lector de tarjetas"
  doorCategory="Teclado digital y lector de tarjetas"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState="active"
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      
      <Carousel>
        {
          items.map((item) => (
            <Item
              src={item.imgUrl}
              alt={item.altData}
              slot="item-swiper"
            />
          ))
        }
      </Carousel>
     
      <p>
        Los teclados numéricos para control de acceso son sencillos y se usan en
        sistemas "stand alone" donde se requiere un código numérico. Son muy
        efectivos para interiores e intemperie. Las lectoras de tarjetas de
        proximidad requieren que el usuario porte la tarjeta o el token para
        acceder y se presenta frente a la lectora. Puede ser sistema "stand
        alone" o tener software de control de acceso. Los sistemas de control de
        acceso se utilizan para controlar acceso, monitorear y consultar.
        Constan de software, controladores y tarjetas de entradas y salidas
        digitales. Son expansibles para soportar el número de puertas y accesos
        necesarios. Funcionan con torniquetes, puertas automáticas, chapas
        magnéticas, barreras de autos, lectoras biométricas, tarjetas de
        proximidad, sensores y alarmas.
      </p>
    </div>

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor 
        type="Puerta giratoria"
        model="Manual"
        description="1,500 M Puerta Giratoria Manual"
        url={items[0].imgUrl}
      />
      <ModelDoor 
        type="Puerta giratoria"
        model="Automatica"
        description="1,500 AA Puerta Giratoria Automatica"
        url={items[1].imgUrl}
      />
      <ModelDoor 
        type="Puerta giratoria"
        model="Manual"
        description="1,500 Crystal Puerta Giratoria Manual"
        url= {items[2].imgUrl}
      />
    </section>
    <!-- <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/teclado-digital/tt-1.png"
          alt="Teclado digital"
        />
        <p class="text-white mt-2 text-center">Teclado digital</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/teclado-digital/tt-4.png"
          alt="Teclado digital"
        />
        <p class="text-white mt-2 text-center">Teclado digital</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/teclado-digital/tt-3.png"
          alt="Teclado digital"
        />
        <p class="text-white mt-2 text-center">
          Teclado digital
        </p>
      </div>
    </div>-->
  </div> 
  <script
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
  slot="script"></script>

</LayoutDoors>
