---
import Carousel from "../../components/Carousel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import Item from "../../components/Item.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/torniquetes/ctt-1.png",
    altData: "torniquete",
  },
  {
    imgUrl: "/assets/torniquetes/cts-1.jpg",
    altData: "torniquete",
  },
  {
    imgUrl: "/assets/torniquetes/cts-2.png",
    altData: "torniquete",
  },

  {
    imgUrl: "/assets/torniquetes/t-1.png",
    altData: "torniquete",
  },
 
];
---

<LayoutDoors
  title="SAP | Torniquetes"
  doorCategory="Torniquetes"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState="active"
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item
              src={item.imgUrl}
              alt={item.altData}
              slot="item-swiper"
            />
          ))
        }
      </Carousel>

      <p>
        Los torniquetes para control de acceso son útiles para restringir el
        acceso a personas no autorizadas y permitir el acceso a quienes están
        registrados. Los modelos tienen un rango muy amplio, desde altura total
        para exteriores en construcción de acero inoxidable, en acero
        galvanizado, o para interiores en aluminio, en policarbonato y hasta en
        cristal. Hay modelos específicos para cada aplicación. En torniquetes de
        media altura, existen manuales y eléctricos, con barreras de acero
        inoxidable, con barreras de cristal templado y hasta únicamente ópticos.
        Los torniquetes de media altura son ideales para edificios corporativos,
        ya que van desde uso rudo hasta modelos perfectamente arquitectónicos,
        dando un aspecto muy moderno, con funcionalidad y conexiones muy
        extensas.
      </p>

    </div>

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor 
        type="Puerta giratoria"
        model="Manual"
        description="1,500 M Puerta Giratoria Manual"
        url={items[0].imgUrl}
      />
      <ModelDoor 
        type="Puerta giratoria"
        model="Automatica"
        description="1,500 AA Puerta Giratoria Automatica"
        url={items[1].imgUrl}
      />
      <ModelDoor 
        type="Puerta giratoria"
        model="Manual"
        description="1,500 Crystal Puerta Giratoria Manual"
        url= {items[2].imgUrl}
      />
    </section>
    <!-- <div
      class="flex flex-col gap-6 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out "
    >
      <div class="w-56">
        <img
          src="/assets/torniquetes/tt-1.png"
          alt="Torniquete de tripode"
        />
        <p class="text-white mt-2 text-center">Torniquete de tripode</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/torniquetes/ts-1.png"
          alt="Torniquete de cristal templado"
        />
        <p class="text-white mt-2 text-center">Torniquete de cristal templado</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/torniquetes/ts-3.png"
          alt="Torniquete optico"
        />
        <p class="text-white mt-2 text-center">
          Torniquete optico
        </p>
      </div> -->
    </div>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
