---
import LayoutThree from "../layouts/LayoutThree.astro";
import Door from "../components/Door.astro";

let doors = [
  {
    title: " puertas",
    category: "giratorias",
    description:
      "Su principal ventaja es minimizar la fuga de aire en edificios aclimatados, permitiendo a la vez un elevado flujo de personas.",
    imageUrl: "/assets/portadas/giratoria.webp",
    imageAlt: " puerta giratoria",
    url: "/producto/puertas-giratorias",
  },
  {
    title: " puertas",
    category: "corredizas",
    description:
      "Son las puertas más usadas en el mundo, prácticas y reconocidas, con un alto ahorro de energía, máximo flujo y seguridad.",
    imageUrl: "/assets/portadas/corrediza.jpg",
    imageAlt: " puerta corrediza",
    url: "/producto/puertas-corredizas",
  },
  {
    title: " puertas",
    category: "batientes",
    description:
      "Son ideales para espacios reducidos o como laterales de puertas giratorias en hoteles y hospitales.",
    imageUrl: "/assets/puertas/puerta-batiente.jpg",
    imageAlt: " puerta batiente",
    url: "/producto/puertas-batientes",
  },
  {
    title: " puertas",
    category: "telescópicas",
    description:
      "Estas puertas automáticas abren hasta el 60% del espacio total, ideal para una mayor apertura.",
    imageUrl: "/assets/portadas/telescopica.png",
    imageAlt: "puerta telescópica",
    url: "/producto/puertas-telescopicas",
  },
  {
    title: "puertas",
    category: "plegadizas",
    description:
      "Se utilizan en espacios muy estrechos donde se requiere la máxima apertura posible.",
    imageUrl: "/assets/portadas/plegadiza.jpg",
    imageAlt: "puerta plegadiza",
    url: "/producto/puertas-plegadizas",
  },
  {
    title: "puertas",
    category: "ICU",
    description:
      "Son puertas correderas, automáticas o manuales, con apertura “antipánico”",
    imageUrl: "/assets/portadas/icu.jpeg",
    imageAlt: "puerta icu",
    url: "/producto/puertas-icu",
  },
  {
    title: "puertas",
    category: "de seguridad",
    description:
      "Son especiales para controlar flujos ya sea de entrada y salida, o en una sola dirección.",
    imageUrl: "/assets/portadas/seguridad.png",
    imageAlt: "puerta plegadiza",
    url: "/producto/puertas-de-seguridad",
  },
  {
    title: "puertas",
    category: "curvas",
    description:
      "Tienen un diseño arquitectónico muy especial, con cristal curvo en las hojas y perfiles curvos.",
    imageUrl: "/assets/portadas/curva.jpg",
    imageAlt: "puertas estilo curvo",
    url: "/producto/curvas",
  },
  {
    title: "",
    category: "torniquetes",
    description:
      "Son útiles para restringir el acceso a personas no autorizadas y permitir el acceso a quienes están registrados.",
    imageUrl: "/assets/puertas/puerta-telescopica.jpg",
    imageAlt: "torniquete",
    url: "/producto/torniquetes",
  },
  {
    title: "huella",
    category: "digital",
    description:
      "Son rápidas y poco invasivas, y se pueden interconectar con muchos sistemas de acceso o como sistema stand alone.",
    imageUrl: "/assets/portadas/huella.png",
    imageAlt: "huella digital",
    url: "/producto/huella-digital",
  },
  {
    title: "chapas",
    category: "magnéticas",
    description:
      "Son la solución perfecta para garantizar un cierre efectivo sin piezas mecánicas. Pueden resistir hasta 850 kg de fuerza de impacto",
    imageUrl: "/assets/portadas/magnetica.png",
    imageAlt: "chapas magneticas",
    url: "/producto/chapas-magneticas",
  },
  {
    title: "",
    category: "iris",
    description:
      "Se utilizan para verificar al 100% el acceso de la persona correcta, sin posibilidad de engañar al sistema.",
    imageUrl: "/assets/portadas/iris.png",
    imageAlt: "sistema de entrada con iris",
    url: "/producto/iris",
  },
 
  {
    title: "teclado digital",
    category: "y lector de tarjetas",
    description:
      "Se usan en sistemas 'stand alone' donde se requiere un código numérico. Son muy efectivos para interiores e intemperie.",
    imageUrl: "/assets/portadas/teclado-digital.png",
    imageAlt: "sistema de teclado digital y lectores de tarjetas",
    url: "/producto/teclado-digital-y-lectores-de-tarjetas",
  },
];
---

<LayoutThree
  title="SAP | Productos"
  HomeState=""
  ProductosState="active"
  ServiciosState=""
  CatalogoState=""
  NosotrosState=""
  OficinasState=""
  ContactoState=""
  BgBody="yes"
>
  <main
    class="lg:w-full min-h-screen h-full flex lg:pt-40 pt-32 justify-center bg-black/80 overflow-hidden"
  >
    <section class="flex flex-col mx-auto lg:max-w-[980px] 2xl:w-[1250px] mb-10 items-center lg:items-start">
      <div class="mb-8 flex flex-col w-96 lg:px-6 md:w-full px-8">
        <h1
          class="text-[#ffce00] text-5xl lg:text-6xl  uppercase font-extrabold mb-4 lg:mb-6 font-[oswald]"
        >
          productos
        </h1>
        <p class="text-white 2xl:text-lg">
          Ofrecemos soluciones personalizadas, seguras y automatizadas para tu
          negocio. Como líderes en puertas automáticas en todo México y el
          Caribe, nuestros productos están diseñados para brindar seguridad y
          accesibilidad total. Entendemos que cada negocio es único, por eso
          personalizamos nuestras soluciones para adaptarse perfectamente a tus
          necesidades.
        </p>
      </div>
      <div class="flex lg:w-[980px] 2xl:w-[1250px] mx-auto min-h-96 justify-center">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 px-6">
          {
            doors.map((door) => (
              <Door
                title={door.title}
                category={door.category}
                description={door.description}
                imageUrl={door.imageUrl}
                imageAlt={door.imageAlt}
                url={door.url}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</LayoutThree>
