---
import LayoutThree from "../layouts/LayoutThree.astro";
import Door from "../components/Door.astro";

let doors = [
  {
    title: " puertas",
    category: "giratorias",
    description:
      "Su principal ventaja es minimizar la fuga de aire en edificios aclimatados, permitiendo a la vez un elevado flujo de personas.",
    imageUrl: "/assets/puerta-servicio.jpg",
    imageAlt: " puerta giratoria",
    url: "/producto/puertas-giratorias",
  },
  {
    title: " puertas",
    category: "corredizas",
    description:
      "Son las puertas más usadas en el mundo, prácticas y reconocidas, con un alto ahorro de energía, máximo flujo y seguridad.",
    imageUrl: "/assets/puertas/puerta-corrediza.jpg",
    imageAlt: " puerta corrediza",
    url: "/producto/puertas-corredizas",
  },
  {
    title: " puertas",
    category: "batientes",
    description:
      "son ideales para espacios reducidos o como laterales de puertas giratorias en hoteles y hospitales. Se utilizan preferentemente con acceso en una sola dirección.",
    imageUrl: "/assets/puertas/puerta-batiente.jpg",
    imageAlt: " puerta batiente",
    url: "/producto/puertas-batientes",
  },
  {
    title: " puertas",
    category: "telescópicas",
    description:
      "Estas puertas son ideales para dar mayor apertura en el espacio que se requiere de una puerta automática, ya que abrirán el 60% del claro total",
    imageUrl: "/assets/puertas/puerta-telescopica.jpg",
    imageAlt: "puerta telescópica",
    url: "/producto/puertas-telescopicas",
  },
];
---

<LayoutThree
  title="SAP | Productos"
  HomeState=""
  ProductosState="active"
  ServiciosState=""
  CatalogoState=""
  NosotrosState=""
  OficinasState=""
  ContactoState=""
  BgBody="yes"
>
  <main
    class="w-full min-h-screen h-full flex pt-32 justify-center bg-black/80"
  >
    <section class="flex flex-col mx-auto w-[1350px]">
      <div class="p-6 mb-6 bg-black/50">
        <h1
          class="text-[#ffce00] text-6xl uppercase font-extrabold mb-4 font-[oswald]"
        >
          productos
        </h1>
        <p class="text-white text-lg">
          Ofrecemos soluciones personalizadas, seguras y automatizadas para tu
          negocio. Como líderes en puertas automáticas en todo México y el
          Caribe, nuestros productos están diseñados para brindar seguridad y
          accesibilidad total. Entendemos que cada negocio es único, por eso
          personalizamos nuestras soluciones para adaptarse perfectamente a tus
          necesidades.
        </p>
      </div>
      <div class="flex w-[1350px] mx-auto min-h-96 justify-center">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
          {
            doors.map((door) => (
              <Door
                title={door.title}
                category={door.category}
                description={door.description}
                imageUrl={door.imageUrl}
                imageAlt={door.imageAlt}
                url={door.url}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</LayoutThree>
